footer{
  text-align: center;
  background: url("../img/bg.jpg");
  padding: 40px 0;
}

footer p{
  color:white;
  margin-top: 10px;
  font-size: 15px;
}

.logo-footer>img{
  width: 25%;
  margin: 10px 0;
  background-color: rgb(100, 100, 100);
  transition: 400ms all;
}

.logo-footer>img:hover{
  opacity: 0.5;
}

@media screen and (max-width: 480px){
  .logo-footer>img{
    width: 70%;
    transition: 400ms all;
  }
}