<header id="header">
    <span class="logo"><strong>Mayk Caldas</strong>, Ph. D.</span>
    <ul class="icons">
        <li>
            <a href="#" id="dark-mode-toggle" class="icon solid fa-sun light-mode-icon"><span class="label">Toggle Theme</span></a>
        </li>
        <li><a href="media/documents/Curriculum_Vitae.pdf" class="icon solid fa-file"><span class="label">CV</span></a></li>
        <li><a href="http://x.com/maykcaldas" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="https://github.com/maykcaldas" class="icon brands fa-github"><span class="label">Github</span></a></li>
        <li><a href="mailto:maykcaldas@gmail.com" class="icon solid fa-at"><span class="label">Email</span></a></li>
        <li><a href="http://instagram/kyam888" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
        <!-- <li><a href="#" class="icon brands fa-medium-m"><span class="label">Medium</span></a></li> -->
    </ul>
</header>